* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#top {
  background-color: #d40101;
  margin-top: 2vw;
  width: 100%;
  height: 90px;
}

#top h2 {
  padding: 30px 15px;
  font-size: 24px;
  color: #ffffff;
  margin: 5vw 10vw;
}

.container-ds {
  padding: 0vw 5vw;
  padding-top: 3vw;
  overflow: auto;
}

#main {
  float: left;
  width: 70%;
  padding: 0 20px;
}

.item {
  border-bottom: 1px solid rgba(112, 112, 112, 0.295);
  display: flex;
  padding: 15px 0px;
  transition-duration: 0.3s;
}

.mieuta {
  margin-top: 5px;
}

.mieuta h3 {
  font-size: 18px;
}

.mieuta p {
  font-size: 16px;
  margin-top: 6px;
}

.thumb {
  width: 240px;
  margin-right: 15px;
}

.item img {
  object-fit: cover;
  width:  240px;
  height: 140px;
  object-fit: cover;
}

.item:hover {
  background-color: #f1f1f1;
}

.center {
  text-align: center;
}

#pagination {
  display: inline-block;
  padding: 15px;
}

#pagination a {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  text-align: center;
}

#pagination a.active {
  background-color: #910000;
  color: white;
  border-radius: 5px;
}

#pagination a:hover:not(.active) {
  background-color: #ddd;
  border-radius: 5px;
}

#sidebar {
  background-color: #e5e5e5;
  float: left;
  width: 30%;
  padding: 15px;
  margin-top: 7px;
}

#sidebar h3 {
  margin-bottom: 10px;
}

a {
  color: inherit;
  text-decoration: none;
}

@media only screen and (max-width: 900px) {
  #main, #sidebar {
    width: 100%;
  }
}

@media only screen and (max-width: 500px) {
  .item {
    box-sizing: border-box;
  }

  .item {
    flex-direction: column;
  }

  .mieuta {
    margin: 10px 0;
    padding: 0;
  }

  .thumb {
    width: 300px;
    margin-right: 0;
  }
  
  .item img {
    object-fit: cover;
    width:  300px;
    height: 160px;
    object-fit: cover;
  }

  #sidebar {
    margin-bottom: 20px;
  }
}