* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container-traotang {
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.55);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    padding: 20px;
    text-align: center;
}

h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
}

form {
    position: relative;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 10px;
    width: 100%;
    max-width: 400px; 
    text-align: center;
    color: black;
}

input, select {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 1rem;
}

button {
    display: inline;
    width: 70%;
    padding: 10px;
    background-color: #d82424;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
}
.box{
    position: absolute;
    padding: 20px auto;
}
a {
    text-decoration: none;
    color: white;
    background-color: #d82424;
    padding: 5px 10px;
    max-width: 360px;

}

button:hover {
    background-color: #A80000;
}


.img-fullscreen {
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; 
    z-index: -1;
}

@media (max-width: 768px) {
    h1 {
        font-size: 2rem;
    }
    form {
        padding: 15px;
    }
    input, select, button {
        padding: 8px;
        font-size: 1rem;
    }
}

@media (max-width: 480px) {
    h1 {
        font-size: 1.5rem;
    }
    form {
        padding: 10px;
    }
    input, select, button {
        padding: 7px;
        font-size: 1rem;
    }
}