* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #f1f1f1;
    font-size: 62.5%;
}

.banner-container {
    width: 100vw;
    height: calc(100vh - 80px);
    position: relative; /* Để nút điều khiển hiển thị đúng */
    overflow: hidden; /* Ẩn phần ngoài khung */
}

.banner {
    width: 100%;
    height: 100%;
    position: relative;
    transition: transform 2s ease; /* Hiệu ứng chuyển động cho toàn bộ banner */
}

.banner-slide {
    display: none; /* Ẩn tất cả các slide */
}

.banner-slide.active {
    display: block; /* Hiện slide đang hoạt động */
}

.banner::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.9) 0%, rgba(0, 0, 0, 0) 100%);
    z-index: 1;
}

.banner img {
    width: 100vw;
    height: 100%;
    object-fit: cover;
}

.banner-content {
    position: absolute;
    top: 40%;
    left: 50px;
    width: 50%;
    z-index: 2;
    text-align: start;
    color: #fff;
}

.banner-content h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.banner-content p {
    font-size: 0.5rem; /* Tăng kích thước chữ để dễ đọc hơn */
}

.banner-content a {
    display: inline-block;
    padding: 5px 15px;
    margin-top: 1rem;
    background-color: #fff;
    color: #333;
    text-decoration: none;
    border: 1px solid rgb(145, 0, 0);
    transition: all 0.3s;
}

.prev, .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(255, 255, 255, 0.8);
    border: none;
    cursor: pointer;
    padding: 10px;
    z-index: 3;
}

.prev {
    left: 20px;
}

.next {
    right: 20px;
}

@media screen and (max-width: 768px) {
    .banner-container {
        height: auto;
    }
    .banner-content h1 {
        font-size: 1.5rem;
    }
}
